<?xml version="1.0" encoding="UTF-8"?><Errors xmlns="http://www.garmin.com/xmlschemas/GarminError/v1" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.garmin.com/xmlschemas/GarminError/v1 http://www.garmin.com/xmlschemas/GarminErrorv1.xsd"><Model><PartNumber>006-B1651-00</PartNumber><SoftwareVersion>Software Version 2.70</SoftwareVersion><Description>Oregon 650</Description><PCB>Oregon 650 V2 </PCB></Model><ID>3868184744</ID><Map><PartNumber>006-F0057-01</PartNumber><FileName>gmapbmap.img</FileName><Version>501</Version></Map><ERR_ABNORMAL/><ERR_ABNORMAL/></Errors>